<h1>Authors</h1>

<p><%= link_to "New Author", new_author_path%></p>

<tbody>
  <% @authors.all.each do |author| %>
    <tr>
       <td>Name: <%= link_to author.name, author_path(author) %></td><br>
       <td>Book Total: <%= author.books.count %></td><br><br>
    </tr>
  <% end %>
</tbody>
