Author Index View<br>
<tbody>
  <% @authors.all.each do |author| %>
    <tr>
       <td>Name: <%= link_to author.name, author_path(author) %></td><br>
       <td>Book Total: <%= author.books.count %></td><br><br>
    </tr>
  <% end %>
</tbody>
