Book Index View<br>
<tbody>
  <% @books.all.each do |book| %>
    <tr>
      <td>Genre: <%= book.genre %></td><br>
      <td>Title: <%= book.title %></td><br>
      <td>Pages: <%= book.pages %></td><br>
    </tr>
  <% end %>

  books.count=<%= @books.count %>
</tbody>
